body {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 16pt;
}

ol li {
    color: #00c;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
}

ol li:hover {
    color: #60f;
    text-decoration: underline;
}

#et_button {
	text-align:center
}

.spinner{
	float:center;
	clear:both;
}